.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
list-style-type: none;
margin-right: 100px;
margin-left: 100px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
}

.left {
font-size: 24px;
font-weight: 600;
color: #F9FAF8;
margin-left: 100px;
}

.right {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 50;
}